<div *ngIf="hero">
    <h2>{{hero.name}} details!</h2>
    <div class="flex-row">
        <div>
            <div>
                <label>id: </label>{{hero.id}}
            </div>
            <div>
                <label>name: </label>{{hero.name}}
            </div>
            <div>
                {{hero.description}}
            </div>
        </div>
        <div>
            <img class="profile" src="{{hero.thumbnail.path + '.' + hero.thumbnail.extension}}" alt="{{hero.name}}" height="42" width="42">
        </div>
    </div>
    <button (click)="goBack()">Back</button>
</div>
