<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <div class="flex_1-1-auto">{{hero.name}}</div>
        <!-- <img class="thumbnail" src="{{hero.thumbnail.path + '.' + hero.thumbnail.extension}}" alt="{{hero.name}}"> -->
    </li>
    <div class="error" *ngIf="error">{{error}}</div>
</ul>
<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} is my hero</h2>
    <button (click)="gotoDetail()">View Details</button>
</div>
